@font-face {
    font-family: "Open Sans";
    src: url("../fonts/opensans.woff2") format("woff2"),
        url("../fonts/opensans.woff") format("woff");
}

@font-face {
    font-family: "Open Sans light";
    src: url("../fonts/opensanslight.woff2") format("woff2"),
        url("../fonts/opensanslight.woff") format("woff");
}

@font-face {
    font-family:"Gilroy";
    src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
        url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
    font-family: "Gilroy light";
    src: url("../fonts/gilroylight.woff2") format("woff2"),
        url("../fonts/gilroylight.woff") format("woff");
}

body {
    margin: 0;
    padding: 0;

    font-family: "Open Sans light", arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 100;
    color: #000000;

    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.button {
    font: inherit;

    text-align: center;
    color: #000000;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: #f0c52e;
    border: none;
}

.main-header-logo {
    font-family: Gilroy, Arial, sans-serif;
    font-size: 48px;
    line-height: 48px;
    text-transform: uppercase;
}

.main-navigation {
    background-color: #f7e296;
}

.site-navigation,
.catalog-navigation {
    font-family: Gilroy, arial, sans-serif;
    list-style: none;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.user-navigation,
.catalog-navigation-list {
    list-style: none;
}

.site-navigation a,
.user-navigation a,
.catalog-navigation a,
.catalog-navigation-list a {
    color: #000000;
}

/* ДОРАБОТАТЬ */
.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus,
.catalog-navigation a:hover,
.catalog-navigation a:focus,
.catalog-navigation-list a:hover,
.catalog-navigation-list a:focus {
    color: rgba(0, 0, 0, 0.6)
}

.site-navigation a:active,
.user-navigation a:active,
.catalog-navigation a:active,
.catalog-navigation-list a:active {
    color: rgba(0, 0, 0, 0.3)
}

.catalog-navigation {
    display: inline-block;
}

.catalog-navigation-list {
    display: none;
    background: #f7e296;
    color: #000000;
}

.catalog-navigation:hover .catalog-navigation-list {
    display: block;
}
/* ДОРАБОТАТЬ */

.button-link {
    font-family: Gilroy, Arial, sans-serif;
}

.product-number {
    font-size: 179.2px;
    line-height: 179.2px;
    font-family: Gilroy, Arial, sans-serif;
}

.product-title {
    font-size: 47px;
    line-height: 56px;
    font-family: Gilroy, Arial, sans-serif;
}

.product-description {
    font-size: 15px;
    line-height: 30px;
    color: #464646;
}

.product-parameters th {
    font-size: 36px;
    line-height: 48px;
    font-family: Gilroy light, Arial, sans-serif;
}

.product-parameters td {
    font-size: 13px;
    line-height: 20px;
}

.popular-list {
    list-style: none;
}

.popular-item a {
    font-size: 18px;
    line-height: 24px;
    font-family: Gilroy, Arial, sans-serif;
    color: #000000;
}

.popular-item a:active {
    color: rgba(0, 0, 0, 0.3)
}

.services {
    background-color: #e5e5e5;
}

.services-list {
    list-style: none;
}

.services-item {
    font-size: 18px;
    line-height: 24px;
    font-family: Gilroy, Arial, sans-serif;
}

.services-info h2 {
    font-size: 47px;
    line-height: 48px;
    font-family: Gilroy, Arial, sans-serif;
}

.services-info p {
    color: #464646;
}

.logo-list {
    list-style: none;
}

.info h2 {
    font-size: 47px;
    line-height: 48px;
    font-family: Gilroy, Arial, sans-serif;
}

.info p {
    color: #464646;
}

.partner-list {
    list-style: circle;
}

.contacts h2 {
    font-size: 47px;
    line-height: 48px;
    font-family: Gilroy, Arial, sans-serif;
}

.contacts p {
    color: #464646;
}

.main-footer {
    background-color: #464646;
}

.main-footer-logo {
    font-size: 48px;
    line-height: 48px;
    font-family: Gilroy, Arial, sans-serif;
    text-transform: uppercase;
    color: #ffc600;
}

.footer-user-navigation {
    list-style: none;
    color: #ffffff;
}

.contacts p {
    color: #ffffff;
}

.footer-services {
    list-style: none;
}

.footer-services-item a {
    font-size: 18px;
    line-height: 24px;
    font-family: Gilroy, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff
}

.social-list {
    list-style: none;
}